<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Member</title>
</head>
<body>
    {% if data %}
    <h2>Members</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
                <th>Famname</th>
                <th></th>
                <th>Card Number</th>
                <th></th>
                <th>Year</th>
                <th></th>
                <th>Birth Date</th>
                <th></th>
                <th>Actions</th> 
            </tr>
        </thead>
        <tbody>
            {% for member in data %}
                <tr>
                    <td>{{ member.name }}</td>
                    <td></td>
                    <td>{{ member.famname }}</td>
                    <td></td>
                    <td>{{ member.cardnum }}</td>
                    <td></td>
                    <td>{{ member.year }}</td>
                    <td></td>
                    <td>{{ member.birth }}</td>
                    <td></td>
                    <td>
                        <form action="{% url 'remove_member' member.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Remove</button>
                        </form>
                        <form action="{% url 'edit_member' member.id %}" method="get">
                            <button type="submit">Edit</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button onclick="navigateToURL('{% url 'add_member' %}')">add_member</button>
    <script>
        function navigateToURL(url) {
            window.location.href = url;
        }
    </script>
    
{% endif %}


</body>
</html>