<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add_member</title>
</head>
<body>
    <h2>Add member</h2>
    {% if is_edit%}
    <form method="post" action="{% url 'edit_member' idm%}">
        {% csrf_token %}
        {{ form.as_p}}
        <br>
        <button type="submit">edit</button>
    </form>

    {% else%}
    <form method="post" action="{% url 'add_member' %}">
        {% csrf_token %}
        {{ form.as_p}}
        <br>
        <button type="submit">Add</button>
    </form>
    {% endif%}


</body>
</html>
