<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>auth</title>
</head>
<body>
    {% if is_in %}
    <form method="post" action="{% url 'signin' %}">
        {% csrf_token %}
        {{ form.as_p}}
        <br>
        <button type="submit">Register</button>
    </form>


    {%else%}
    
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p}}
        <br>
        <button type="submit">login</button>
    </form>

    {%endif%}



</body>
</html>